[submodule "dependencies/RDFBones-O"]
	path = dependencies/RDFBones-O
	url = https://github.com/RDFBones/RDFBones-O
[submodule "dependencies/SucheyBrooksPubicAge"]
	path = dependencies/SucheyBrooksPubicAge
	url = git@github.com:RDFBones/SucheyBrooksPubicAge.git
[submodule "dependencies/Phaleron-SexEstimation"]
	path = dependencies/Phaleron-SexEstimation
	url = git@github.com:RDFBones/Phaleron-SexEstimation.git
[submodule "dependencies/Phaleron-SkeletalInventory"]
	path = dependencies/Phaleron-SkeletalInventory
	url = git@github.com:RDFBones/Phaleron-SkeletalInventory.git
[submodule "dependencies/HartnettPubicAge"]
	path = dependencies/HartnettPubicAge
	url = https://github.com/RDFBones/HartnettPubicAge
