[submodule "dependencies/RDFBones-O"]
	path = dependencies/RDFBones-O
	url = https://github.com/RDFBones/RDFBones-O
[submodule "dependencies/SucheyBrooksPubicAge"]
	path = dependencies/SucheyBrooksPubicAge
	url = git@github.com:RDFBones/SucheyBrooksPubicAge.git
